--
-- PostgreSQL database dump
--

\restrict eKocGQNp6A6ustQKnxegMdGGXVtDtZTBJnLmRkWmV4SoihCAbjdgm9pbvrcqs5Y

-- Dumped from database version 15.19
-- Dumped by pg_dump version 15.19

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_trail; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.audit_trail (
    id integer NOT NULL,
    user_id integer,
    user_role character varying(50),
    action character varying(100),
    endpoint character varying(255),
    ip_address character varying(50),
    details jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_trail OWNER TO adab_user;

--
-- Name: audit_trail_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.audit_trail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_trail_id_seq OWNER TO adab_user;

--
-- Name: audit_trail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.audit_trail_id_seq OWNED BY public.audit_trail.id;


--
-- Name: campaign_deliveries; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.campaign_deliveries (
    id integer NOT NULL,
    campaign_notification_id integer,
    user_id integer,
    delivered_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(50) DEFAULT 'delivered'::character varying
);


ALTER TABLE public.campaign_deliveries OWNER TO adab_user;

--
-- Name: campaign_deliveries_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.campaign_deliveries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.campaign_deliveries_id_seq OWNER TO adab_user;

--
-- Name: campaign_deliveries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.campaign_deliveries_id_seq OWNED BY public.campaign_deliveries.id;


--
-- Name: campaign_notifications; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.campaign_notifications (
    id integer NOT NULL,
    title character varying(255),
    message text,
    target_role character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer
);


ALTER TABLE public.campaign_notifications OWNER TO adab_user;

--
-- Name: campaign_notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.campaign_notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.campaign_notifications_id_seq OWNER TO adab_user;

--
-- Name: campaign_notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.campaign_notifications_id_seq OWNED BY public.campaign_notifications.id;


--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.campaigns (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    start_date timestamp without time zone,
    end_date timestamp without time zone,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    description text,
    type character varying(100)
);


ALTER TABLE public.campaigns OWNER TO adab_user;

--
-- Name: campaigns_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.campaigns_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.campaigns_id_seq OWNER TO adab_user;

--
-- Name: campaigns_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.campaigns_id_seq OWNED BY public.campaigns.id;


--
-- Name: city; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.city (
    id integer NOT NULL,
    state_id integer,
    city_name character varying(100) NOT NULL,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.city OWNER TO adab_user;

--
-- Name: city_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.city_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.city_id_seq OWNER TO adab_user;

--
-- Name: city_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.city_id_seq OWNED BY public.city.id;


--
-- Name: distributor_products; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.distributor_products (
    id integer NOT NULL,
    distributor_id integer,
    product_name character varying(255),
    sku character varying(100),
    category character varying(100),
    price numeric(12,2) DEFAULT 0,
    stock integer DEFAULT 0,
    status character varying(50) DEFAULT 'ACTIVE'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    product_id integer,
    stock_quantity integer DEFAULT 0,
    is_published boolean DEFAULT true
);


ALTER TABLE public.distributor_products OWNER TO adab_user;

--
-- Name: distributor_products_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.distributor_products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.distributor_products_id_seq OWNER TO adab_user;

--
-- Name: distributor_products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.distributor_products_id_seq OWNED BY public.distributor_products.id;


--
-- Name: manage_b2b_purchase_order; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b2b_purchase_order (
    id integer NOT NULL,
    order_number character varying(100),
    distributor_id integer,
    manufacturer_id integer,
    total_amount numeric(12,2) DEFAULT 0,
    status character varying(50) DEFAULT 'PENDING'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    item_count integer DEFAULT 1,
    notes text,
    delivery_date date,
    fk_supplier_detail integer,
    fk_shop_detail integer,
    tax numeric(12,2) DEFAULT 0,
    grand_total numeric(12,2) DEFAULT 0,
    paid_amount numeric(12,2) DEFAULT 0,
    due_amount numeric(12,2) DEFAULT 0,
    payment_status character varying(50) DEFAULT 'UNPAID'::character varying,
    po_number character varying(100)
);


ALTER TABLE public.manage_b2b_purchase_order OWNER TO adab_user;

--
-- Name: manage_b2b_purchase_order_detail; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b2b_purchase_order_detail (
    id integer NOT NULL,
    fk_purchase_order integer,
    product_id integer,
    product_name character varying(255),
    quantity integer,
    price numeric(12,2),
    tax numeric(12,2),
    grand_total numeric(12,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fk_product integer,
    unit_price numeric(12,2)
);


ALTER TABLE public.manage_b2b_purchase_order_detail OWNER TO adab_user;

--
-- Name: manage_b2b_purchase_order_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b2b_purchase_order_detail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b2b_purchase_order_detail_id_seq OWNER TO adab_user;

--
-- Name: manage_b2b_purchase_order_detail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b2b_purchase_order_detail_id_seq OWNED BY public.manage_b2b_purchase_order_detail.id;


--
-- Name: manage_b2b_purchase_order_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b2b_purchase_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b2b_purchase_order_id_seq OWNER TO adab_user;

--
-- Name: manage_b2b_purchase_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b2b_purchase_order_id_seq OWNED BY public.manage_b2b_purchase_order.id;


--
-- Name: manage_b_to_b_audit_logs; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_audit_logs (
    id integer NOT NULL,
    user_id integer,
    action character varying(255),
    details text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    user_role character varying(50),
    entity_type character varying(100),
    entity_id integer,
    ip_address character varying(50),
    metadata jsonb,
    resource character varying(100),
    resource_id character varying(100)
);


ALTER TABLE public.manage_b_to_b_audit_logs OWNER TO adab_user;

--
-- Name: manage_b_to_b_audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_audit_logs_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_audit_logs_id_seq OWNED BY public.manage_b_to_b_audit_logs.id;


--
-- Name: manage_b_to_b_cart; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_cart (
    id integer NOT NULL,
    distributor_id integer NOT NULL,
    product_id integer,
    quantity integer DEFAULT 1,
    unit_price numeric(12,2) DEFAULT 0,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.manage_b_to_b_cart OWNER TO adab_user;

--
-- Name: manage_b_to_b_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_cart_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_cart_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_cart_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_cart_id_seq OWNED BY public.manage_b_to_b_cart.id;


--
-- Name: manage_b_to_b_categories; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_categories (
    id integer NOT NULL,
    category_name character varying(255) NOT NULL,
    description text,
    image_url text,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_by integer,
    manufacturer_id integer,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    created_by integer
);


ALTER TABLE public.manage_b_to_b_categories OWNER TO adab_user;

--
-- Name: manage_b_to_b_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_categories_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_categories_id_seq OWNED BY public.manage_b_to_b_categories.id;


--
-- Name: manage_b_to_b_contact_submissions; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_contact_submissions (
    id integer NOT NULL,
    name character varying(255),
    email character varying(255),
    phone character varying(20),
    message text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    user_id integer,
    status character varying(50) DEFAULT 'pending'::character varying
);


ALTER TABLE public.manage_b_to_b_contact_submissions OWNER TO adab_user;

--
-- Name: manage_b_to_b_contact_submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_contact_submissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_contact_submissions_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_contact_submissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_contact_submissions_id_seq OWNED BY public.manage_b_to_b_contact_submissions.id;


--
-- Name: manage_b_to_b_credit_notes; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_credit_notes (
    id integer NOT NULL,
    credit_note_number character varying(100),
    invoice_id integer,
    manufacturer_id integer,
    distributor_id integer,
    shop_id integer,
    amount numeric(12,2) DEFAULT 0,
    reason text,
    status character varying(50) DEFAULT 'approved'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer,
    deleted_at timestamp without time zone
);


ALTER TABLE public.manage_b_to_b_credit_notes OWNER TO adab_user;

--
-- Name: manage_b_to_b_credit_notes_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_credit_notes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_credit_notes_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_credit_notes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_credit_notes_id_seq OWNED BY public.manage_b_to_b_credit_notes.id;


--
-- Name: manage_b_to_b_delivery_configs; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_delivery_configs (
    id integer NOT NULL,
    shop_id integer,
    mode character varying(50),
    base_charge numeric(10,2) DEFAULT 0,
    per_km_charge numeric(10,2) DEFAULT 0,
    min_free_delivery_order_value numeric(10,2) DEFAULT 0,
    max_delivery_radius_km numeric(10,2) DEFAULT 0,
    status character varying(50) DEFAULT 'ACTIVE'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.manage_b_to_b_delivery_configs OWNER TO adab_user;

--
-- Name: manage_b_to_b_delivery_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_delivery_configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_delivery_configs_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_delivery_configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_delivery_configs_id_seq OWNED BY public.manage_b_to_b_delivery_configs.id;


--
-- Name: manage_b_to_b_drivers; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_drivers (
    id integer NOT NULL,
    owner_id integer,
    logistics_provider_id integer,
    driver_name character varying(255),
    mobile character varying(20),
    license_number character varying(100),
    license_expiry_date date,
    aadhaar_number character varying(100),
    emergency_contact character varying(20),
    is_available boolean DEFAULT true,
    status character varying(50) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.manage_b_to_b_drivers OWNER TO adab_user;

--
-- Name: manage_b_to_b_drivers_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_drivers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_drivers_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_drivers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_drivers_id_seq OWNED BY public.manage_b_to_b_drivers.id;


--
-- Name: manage_b_to_b_invoices; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_invoices (
    id integer NOT NULL,
    invoice_number character varying(100),
    order_id integer,
    distributor_id integer,
    manufacturer_id integer,
    shop_id integer,
    settlement_id integer,
    total_amount numeric(12,2) DEFAULT 0,
    subtotal numeric(12,2) DEFAULT 0,
    tax_amount numeric(12,2) DEFAULT 0,
    gst_percentage numeric(5,2) DEFAULT 0,
    status character varying(50) DEFAULT 'issued'::character varying,
    due_date date,
    invoice_pdf_url text,
    items_json jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer,
    modified_at timestamp without time zone,
    deleted_at timestamp without time zone
);


ALTER TABLE public.manage_b_to_b_invoices OWNER TO adab_user;

--
-- Name: manage_b_to_b_invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_invoices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_invoices_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_invoices_id_seq OWNED BY public.manage_b_to_b_invoices.id;


--
-- Name: manage_b_to_b_ledger_entries; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_ledger_entries (
    id integer NOT NULL,
    distributor_id integer,
    shop_id integer,
    type character varying(50),
    reference_id integer,
    description text,
    debit numeric(12,2) DEFAULT 0,
    credit numeric(12,2) DEFAULT 0,
    balance numeric(12,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.manage_b_to_b_ledger_entries OWNER TO adab_user;

--
-- Name: manage_b_to_b_ledger_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_ledger_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_ledger_entries_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_ledger_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_ledger_entries_id_seq OWNED BY public.manage_b_to_b_ledger_entries.id;


--
-- Name: manage_b_to_b_logistics_providers; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_logistics_providers (
    id integer NOT NULL,
    owner_id integer,
    provider_name character varying(255),
    contact_person character varying(255),
    mobile character varying(20),
    email character varying(255),
    address text,
    gst_number character varying(100),
    active_status boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone,
    deleted_at timestamp without time zone
);


ALTER TABLE public.manage_b_to_b_logistics_providers OWNER TO adab_user;

--
-- Name: manage_b_to_b_logistics_providers_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_logistics_providers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_logistics_providers_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_logistics_providers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_logistics_providers_id_seq OWNED BY public.manage_b_to_b_logistics_providers.id;


--
-- Name: manage_b_to_b_order_items; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_order_items (
    id integer NOT NULL,
    order_id integer,
    product_id integer,
    product_name character varying(255),
    quantity integer NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    total_price numeric(12,2) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.manage_b_to_b_order_items OWNER TO adab_user;

--
-- Name: manage_b_to_b_order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_order_items_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_order_items_id_seq OWNED BY public.manage_b_to_b_order_items.id;


--
-- Name: manage_b_to_b_order_status_history; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_order_status_history (
    id integer NOT NULL,
    order_id integer,
    status character varying(50) NOT NULL,
    notes text,
    updated_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    changed_by integer
);


ALTER TABLE public.manage_b_to_b_order_status_history OWNER TO adab_user;

--
-- Name: manage_b_to_b_order_status_history_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_order_status_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_order_status_history_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_order_status_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_order_status_history_id_seq OWNED BY public.manage_b_to_b_order_status_history.id;


--
-- Name: manage_b_to_b_orders; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_orders (
    id integer NOT NULL,
    order_number character varying(100) NOT NULL,
    distributor_id integer NOT NULL,
    manufacturer_id integer NOT NULL,
    shop_id integer,
    total_amount numeric(12,2) DEFAULT 0,
    tax_amount numeric(12,2) DEFAULT 0,
    discount_amount numeric(12,2) DEFAULT 0,
    final_amount numeric(12,2) DEFAULT 0,
    status character varying(50) DEFAULT 'PENDING'::character varying,
    payment_status character varying(50) DEFAULT 'UNPAID'::character varying,
    delivery_mode character varying(50) DEFAULT 'Standard Ground Shipping'::character varying,
    payment_mode character varying(50) DEFAULT 'CASH'::character varying,
    tracking_number character varying(100),
    shipping_address text,
    active boolean DEFAULT true,
    order_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    delivery_charge numeric(10,2) DEFAULT 0.00,
    delivery_type character varying(100),
    status_notes text
);


ALTER TABLE public.manage_b_to_b_orders OWNER TO adab_user;

--
-- Name: manage_b_to_b_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_orders_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_orders_id_seq OWNED BY public.manage_b_to_b_orders.id;


--
-- Name: manage_b_to_b_payment_allocations; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_payment_allocations (
    id integer NOT NULL,
    payment_id integer,
    invoice_id integer,
    allocated_amount numeric(12,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.manage_b_to_b_payment_allocations OWNER TO adab_user;

--
-- Name: manage_b_to_b_payment_allocations_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_payment_allocations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_payment_allocations_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_payment_allocations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_payment_allocations_id_seq OWNED BY public.manage_b_to_b_payment_allocations.id;


--
-- Name: manage_b_to_b_payments; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_payments (
    id integer NOT NULL,
    distributor_id integer,
    shop_id integer,
    manufacturer_id integer,
    invoice_id integer,
    amount numeric(12,2) DEFAULT 0,
    mode character varying(50),
    reference_id character varying(120),
    status character varying(50) DEFAULT 'completed'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer,
    deleted_at timestamp without time zone
);


ALTER TABLE public.manage_b_to_b_payments OWNER TO adab_user;

--
-- Name: manage_b_to_b_payments_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_payments_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_payments_id_seq OWNED BY public.manage_b_to_b_payments.id;


--
-- Name: manage_b_to_b_payouts; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_payouts (
    id integer NOT NULL,
    settlement_id integer,
    amount numeric(12,2) DEFAULT 0,
    status character varying(50) DEFAULT 'completed'::character varying,
    transaction_ref character varying(120),
    failure_reason text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer
);


ALTER TABLE public.manage_b_to_b_payouts OWNER TO adab_user;

--
-- Name: manage_b_to_b_payouts_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_payouts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_payouts_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_payouts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_payouts_id_seq OWNED BY public.manage_b_to_b_payouts.id;


--
-- Name: manage_b_to_b_request_access; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_request_access (
    id integer NOT NULL,
    distributor_id integer,
    manufacturer_id integer,
    name character varying(255),
    email_distributer character varying(255),
    email_manufacturer character varying(255),
    description text,
    unique_request_id character varying(100),
    distributer_request integer DEFAULT 1,
    manufacture_request integer DEFAULT 1,
    request_type character varying(50) DEFAULT 'CONNECTION'::character varying,
    status character varying(50) DEFAULT 'PENDING'::character varying,
    proposed_price numeric(12,2),
    counter_price numeric(12,2),
    notes text,
    active boolean DEFAULT true,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    distributor_tier character varying(50) DEFAULT 'Bronze'::character varying,
    product_id integer,
    product_name character varying(255),
    quantity integer,
    target_price numeric(12,2),
    deadline timestamp without time zone,
    negotiation_history jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.manage_b_to_b_request_access OWNER TO adab_user;

--
-- Name: manage_b_to_b_request_access_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_request_access_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_request_access_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_request_access_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_request_access_id_seq OWNED BY public.manage_b_to_b_request_access.id;


--
-- Name: manage_b_to_b_settlements; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_settlements (
    id integer NOT NULL,
    settlement_number character varying(100),
    manufacturer_id integer,
    shop_id integer,
    total_invoice_amount numeric(12,2) DEFAULT 0,
    total_collected numeric(12,2) DEFAULT 0,
    commission numeric(12,2) DEFAULT 0,
    pg_charges numeric(12,2) DEFAULT 0,
    returns_amount numeric(12,2) DEFAULT 0,
    tds numeric(12,2) DEFAULT 0,
    net_payable numeric(12,2) DEFAULT 0,
    status character varying(50) DEFAULT 'pending'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer,
    modified_at timestamp without time zone,
    modified_by integer,
    deleted_at timestamp without time zone,
    deleted_by integer
);


ALTER TABLE public.manage_b_to_b_settlements OWNER TO adab_user;

--
-- Name: manage_b_to_b_settlements_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_settlements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_settlements_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_settlements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_settlements_id_seq OWNED BY public.manage_b_to_b_settlements.id;


--
-- Name: manage_b_to_b_subcategories; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_subcategories (
    id integer NOT NULL,
    category_id integer,
    subcategory_name character varying(255) NOT NULL,
    description text,
    image_url text,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_by integer,
    deleted_at timestamp without time zone,
    created_by integer
);


ALTER TABLE public.manage_b_to_b_subcategories OWNER TO adab_user;

--
-- Name: manage_b_to_b_subcategories_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_subcategories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_subcategories_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_subcategories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_subcategories_id_seq OWNED BY public.manage_b_to_b_subcategories.id;


--
-- Name: manage_b_to_b_support_tickets; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_support_tickets (
    id integer NOT NULL,
    user_id integer,
    subject character varying(255),
    status character varying(50) DEFAULT 'OPEN'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    attachment text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.manage_b_to_b_support_tickets OWNER TO adab_user;

--
-- Name: manage_b_to_b_support_tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_support_tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_support_tickets_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_support_tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_support_tickets_id_seq OWNED BY public.manage_b_to_b_support_tickets.id;


--
-- Name: manage_b_to_b_user_type; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_user_type (
    id integer NOT NULL,
    typename character varying(100) NOT NULL,
    description text,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.manage_b_to_b_user_type OWNER TO adab_user;

--
-- Name: manage_b_to_b_user_type_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_user_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_user_type_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_user_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_user_type_id_seq OWNED BY public.manage_b_to_b_user_type.id;


--
-- Name: manage_b_to_b_userdetail; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_userdetail (
    id integer NOT NULL,
    business_type_id integer,
    company_name character varying(255),
    owner_name character varying(255),
    email character varying(255),
    mobile character varying(20),
    password character varying(255),
    gst_number character varying(50),
    pan_number character varying(50),
    kyc_status character varying(50) DEFAULT 'PENDING'::character varying,
    address text,
    city character varying(100),
    state character varying(100),
    country character varying(100) DEFAULT 'India'::character varying,
    pincode character varying(20),
    age integer,
    gender character varying(20),
    personal_contact character varying(20),
    personal_email character varying(255),
    bank_name character varying(255),
    refresh_token character varying(255),
    bank_account_no character varying(100),
    ifsc_code character varying(50),
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    latitude numeric(10,8),
    longitude numeric(11,8),
    fk_state integer,
    fk_city integer,
    serviceable_pincodes character varying(10)[],
    is_featured boolean DEFAULT false,
    campaign_id integer,
    company_logo character varying(500),
    international_business boolean DEFAULT false,
    wish_to_export_countries text,
    vat_number character varying(100),
    export_hs_code character varying(100),
    preferred_currency character varying(10) DEFAULT 'INR'::character varying,
    market_scope character varying(50) DEFAULT 'domestic'::character varying,
    product_category character varying(255),
    contact_person character varying(255)
);


ALTER TABLE public.manage_b_to_b_userdetail OWNER TO adab_user;

--
-- Name: manage_b_to_b_userdetail_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_userdetail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_userdetail_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_userdetail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_userdetail_id_seq OWNED BY public.manage_b_to_b_userdetail.id;


--
-- Name: manage_b_to_b_vehicle_routes; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_vehicle_routes (
    id integer NOT NULL,
    owner_id integer,
    vehicle_id integer,
    driver_id integer,
    order_id integer,
    route_name character varying(255),
    source_location character varying(255),
    destination_location character varying(255),
    waypoints jsonb,
    estimated_distance_km numeric(8,2),
    estimated_time_hours numeric(6,2),
    status character varying(50) DEFAULT 'SCHEDULED'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.manage_b_to_b_vehicle_routes OWNER TO adab_user;

--
-- Name: manage_b_to_b_vehicle_routes_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_vehicle_routes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_vehicle_routes_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_vehicle_routes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_vehicle_routes_id_seq OWNED BY public.manage_b_to_b_vehicle_routes.id;


--
-- Name: manage_b_to_b_vehicles; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_b_to_b_vehicles (
    id integer NOT NULL,
    owner_id integer,
    logistics_provider_id integer,
    driver_id integer,
    vehicle_number character varying(100),
    vehicle_type character varying(100),
    capacity character varying(100),
    insurance_expiry_date date,
    permit_expiry_date date,
    is_available boolean DEFAULT true,
    status character varying(50) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.manage_b_to_b_vehicles OWNER TO adab_user;

--
-- Name: manage_b_to_b_vehicles_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_b_to_b_vehicles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_b_to_b_vehicles_id_seq OWNER TO adab_user;

--
-- Name: manage_b_to_b_vehicles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_b_to_b_vehicles_id_seq OWNED BY public.manage_b_to_b_vehicles.id;


--
-- Name: manage_manufacturer_products; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.manage_manufacturer_products (
    id integer NOT NULL,
    manufacturer_id integer NOT NULL,
    category_id integer,
    subcategory_id integer,
    category character varying(255),
    sub_category character varying(255),
    product_name character varying(255) NOT NULL,
    sku character varying(100),
    description text,
    unit character varying(50) DEFAULT 'pcs'::character varying,
    price numeric(12,2) DEFAULT 0,
    mrp numeric(12,2) DEFAULT 0,
    moq integer DEFAULT 1,
    total_stock integer DEFAULT 0,
    stock_quantity integer DEFAULT 0,
    north_hub integer DEFAULT 0,
    south_hub integer DEFAULT 0,
    central_hub integer DEFAULT 0,
    image_url text,
    image text,
    product_image text,
    status character varying(50) DEFAULT 'active'::character varying,
    active boolean DEFAULT true,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    warehouse_stock jsonb DEFAULT '{}'::jsonb,
    international_selling boolean DEFAULT false,
    international_price numeric(12,2),
    export_hs_code character varying(100),
    hsn_code character varying(100),
    gst_rate numeric(5,2),
    tier_pricing jsonb,
    modified_by integer,
    deleted_by integer,
    manufacturer_price numeric(12,2),
    distributor_price numeric(12,2),
    retail_price numeric(12,2)
);


ALTER TABLE public.manage_manufacturer_products OWNER TO adab_user;

--
-- Name: manage_manufacturer_products_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.manage_manufacturer_products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manage_manufacturer_products_id_seq OWNER TO adab_user;

--
-- Name: manage_manufacturer_products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.manage_manufacturer_products_id_seq OWNED BY public.manage_manufacturer_products.id;


--
-- Name: razorpay_checkout_orders; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.razorpay_checkout_orders (
    id integer NOT NULL,
    checkout_id integer NOT NULL,
    order_id integer NOT NULL,
    manufacturer_id integer NOT NULL,
    order_amount_paise bigint NOT NULL,
    order_amount_rupees numeric(12,2) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.razorpay_checkout_orders OWNER TO adab_user;

--
-- Name: razorpay_checkout_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.razorpay_checkout_orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.razorpay_checkout_orders_id_seq OWNER TO adab_user;

--
-- Name: razorpay_checkout_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.razorpay_checkout_orders_id_seq OWNED BY public.razorpay_checkout_orders.id;


--
-- Name: razorpay_checkouts; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.razorpay_checkouts (
    id integer NOT NULL,
    distributor_id integer NOT NULL,
    razorpay_order_id character varying(100),
    razorpay_payment_id character varying(100),
    amount_paise bigint NOT NULL,
    amount_rupees numeric(12,2) NOT NULL,
    currency character varying(10) DEFAULT 'INR'::character varying NOT NULL,
    status character varying(30) DEFAULT 'INITIATED'::character varying,
    payment_method character varying(50),
    signature_verified boolean DEFAULT false,
    webhook_verified boolean DEFAULT false,
    verification_source character varying(20),
    verified_at timestamp without time zone,
    failure_reason text,
    error_code character varying(100),
    error_description text,
    idempotency_key character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    captured_at timestamp without time zone,
    CONSTRAINT razorpay_checkouts_status_check CHECK (((status)::text = ANY ((ARRAY['INITIATED'::character varying, 'CREATED'::character varying, 'PENDING'::character varying, 'AUTHORIZED'::character varying, 'CAPTURED'::character varying, 'FAILED'::character varying, 'CANCELLED'::character varying, 'PROVIDER_ERROR'::character varying, 'REFUNDED'::character varying])::text[])))
);


ALTER TABLE public.razorpay_checkouts OWNER TO adab_user;

--
-- Name: razorpay_checkouts_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.razorpay_checkouts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.razorpay_checkouts_id_seq OWNER TO adab_user;

--
-- Name: razorpay_checkouts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.razorpay_checkouts_id_seq OWNED BY public.razorpay_checkouts.id;


--
-- Name: razorpay_webhook_events; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.razorpay_webhook_events (
    id integer NOT NULL,
    event_id character varying(100) NOT NULL,
    event_type character varying(100) NOT NULL,
    razorpay_order_id character varying(100),
    razorpay_payment_id character varying(100),
    processing_status character varying(30) DEFAULT 'RECEIVED'::character varying,
    skip_reason character varying(200),
    processing_error text,
    received_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    processed_at timestamp without time zone,
    source_ip character varying(45),
    payload_summary jsonb,
    CONSTRAINT razorpay_webhook_events_processing_status_check CHECK (((processing_status)::text = ANY ((ARRAY['RECEIVED'::character varying, 'PROCESSING'::character varying, 'PROCESSED'::character varying, 'SKIPPED'::character varying, 'FAILED'::character varying])::text[])))
);


ALTER TABLE public.razorpay_webhook_events OWNER TO adab_user;

--
-- Name: razorpay_webhook_events_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.razorpay_webhook_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.razorpay_webhook_events_id_seq OWNER TO adab_user;

--
-- Name: razorpay_webhook_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.razorpay_webhook_events_id_seq OWNED BY public.razorpay_webhook_events.id;


--
-- Name: relationship_credits; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.relationship_credits (
    id integer NOT NULL,
    creditor_id integer NOT NULL,
    debtor_id integer NOT NULL,
    debtor_type character varying(50) NOT NULL,
    credit_limit numeric(12,2) DEFAULT 0,
    credit_days integer DEFAULT 30,
    outstanding_amount numeric(12,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    modified_at timestamp without time zone
);


ALTER TABLE public.relationship_credits OWNER TO adab_user;

--
-- Name: relationship_credits_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.relationship_credits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.relationship_credits_id_seq OWNER TO adab_user;

--
-- Name: relationship_credits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.relationship_credits_id_seq OWNED BY public.relationship_credits.id;


--
-- Name: settlement_number_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.settlement_number_seq
    START WITH 1001
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.settlement_number_seq OWNER TO adab_user;

--
-- Name: shopdetail; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.shopdetail (
    id integer NOT NULL,
    shop_name character varying(255),
    email_id character varying(255),
    owner_name character varying(255),
    mobile_number character varying(20),
    active boolean DEFAULT true,
    delete_at timestamp without time zone,
    shop_address text,
    address text,
    mobile_no character varying(20),
    pincode character varying(20),
    city character varying(100),
    state character varying(100),
    latitude numeric(10,8),
    longitude numeric(11,8),
    first_name character varying(255),
    gst_id character varying(50),
    fk_city integer,
    fk_state integer,
    fk_country integer,
    password character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.shopdetail OWNER TO adab_user;

--
-- Name: shopdetail_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.shopdetail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.shopdetail_id_seq OWNER TO adab_user;

--
-- Name: shopdetail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.shopdetail_id_seq OWNED BY public.shopdetail.id;


--
-- Name: state; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.state (
    id integer NOT NULL,
    state_name character varying(100) NOT NULL,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.state OWNER TO adab_user;

--
-- Name: state_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.state_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.state_id_seq OWNER TO adab_user;

--
-- Name: state_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.state_id_seq OWNED BY public.state.id;


--
-- Name: territory_assignments; Type: TABLE; Schema: public; Owner: adab_user
--

CREATE TABLE public.territory_assignments (
    id integer NOT NULL,
    manufacturer_id integer,
    territory_name character varying(255),
    state character varying(100),
    city character varying(100),
    pincode character varying(20),
    distributor_id integer,
    status character varying(50) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    state_id integer,
    city_id integer,
    active boolean DEFAULT true
);


ALTER TABLE public.territory_assignments OWNER TO adab_user;

--
-- Name: territory_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: adab_user
--

CREATE SEQUENCE public.territory_assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.territory_assignments_id_seq OWNER TO adab_user;

--
-- Name: territory_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: adab_user
--

ALTER SEQUENCE public.territory_assignments_id_seq OWNED BY public.territory_assignments.id;


--
-- Name: audit_trail id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.audit_trail ALTER COLUMN id SET DEFAULT nextval('public.audit_trail_id_seq'::regclass);


--
-- Name: campaign_deliveries id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.campaign_deliveries ALTER COLUMN id SET DEFAULT nextval('public.campaign_deliveries_id_seq'::regclass);


--
-- Name: campaign_notifications id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.campaign_notifications ALTER COLUMN id SET DEFAULT nextval('public.campaign_notifications_id_seq'::regclass);


--
-- Name: campaigns id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.campaigns ALTER COLUMN id SET DEFAULT nextval('public.campaigns_id_seq'::regclass);


--
-- Name: city id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.city ALTER COLUMN id SET DEFAULT nextval('public.city_id_seq'::regclass);


--
-- Name: distributor_products id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.distributor_products ALTER COLUMN id SET DEFAULT nextval('public.distributor_products_id_seq'::regclass);


--
-- Name: manage_b2b_purchase_order id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b2b_purchase_order ALTER COLUMN id SET DEFAULT nextval('public.manage_b2b_purchase_order_id_seq'::regclass);


--
-- Name: manage_b2b_purchase_order_detail id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b2b_purchase_order_detail ALTER COLUMN id SET DEFAULT nextval('public.manage_b2b_purchase_order_detail_id_seq'::regclass);


--
-- Name: manage_b_to_b_audit_logs id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_audit_logs ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_audit_logs_id_seq'::regclass);


--
-- Name: manage_b_to_b_cart id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_cart ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_cart_id_seq'::regclass);


--
-- Name: manage_b_to_b_categories id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_categories ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_categories_id_seq'::regclass);


--
-- Name: manage_b_to_b_contact_submissions id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_contact_submissions ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_contact_submissions_id_seq'::regclass);


--
-- Name: manage_b_to_b_credit_notes id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_credit_notes ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_credit_notes_id_seq'::regclass);


--
-- Name: manage_b_to_b_delivery_configs id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_delivery_configs ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_delivery_configs_id_seq'::regclass);


--
-- Name: manage_b_to_b_drivers id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_drivers ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_drivers_id_seq'::regclass);


--
-- Name: manage_b_to_b_invoices id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_invoices ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_invoices_id_seq'::regclass);


--
-- Name: manage_b_to_b_ledger_entries id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_ledger_entries ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_ledger_entries_id_seq'::regclass);


--
-- Name: manage_b_to_b_logistics_providers id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_logistics_providers ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_logistics_providers_id_seq'::regclass);


--
-- Name: manage_b_to_b_order_items id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_order_items ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_order_items_id_seq'::regclass);


--
-- Name: manage_b_to_b_order_status_history id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_order_status_history ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_order_status_history_id_seq'::regclass);


--
-- Name: manage_b_to_b_orders id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_orders ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_orders_id_seq'::regclass);


--
-- Name: manage_b_to_b_payment_allocations id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_payment_allocations ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_payment_allocations_id_seq'::regclass);


--
-- Name: manage_b_to_b_payments id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_payments ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_payments_id_seq'::regclass);


--
-- Name: manage_b_to_b_payouts id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_payouts ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_payouts_id_seq'::regclass);


--
-- Name: manage_b_to_b_request_access id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_request_access ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_request_access_id_seq'::regclass);


--
-- Name: manage_b_to_b_settlements id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_settlements ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_settlements_id_seq'::regclass);


--
-- Name: manage_b_to_b_subcategories id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_subcategories ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_subcategories_id_seq'::regclass);


--
-- Name: manage_b_to_b_support_tickets id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_support_tickets ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_support_tickets_id_seq'::regclass);


--
-- Name: manage_b_to_b_user_type id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_user_type ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_user_type_id_seq'::regclass);


--
-- Name: manage_b_to_b_userdetail id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_userdetail ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_userdetail_id_seq'::regclass);


--
-- Name: manage_b_to_b_vehicle_routes id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_vehicle_routes ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_vehicle_routes_id_seq'::regclass);


--
-- Name: manage_b_to_b_vehicles id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_vehicles ALTER COLUMN id SET DEFAULT nextval('public.manage_b_to_b_vehicles_id_seq'::regclass);


--
-- Name: manage_manufacturer_products id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_manufacturer_products ALTER COLUMN id SET DEFAULT nextval('public.manage_manufacturer_products_id_seq'::regclass);


--
-- Name: razorpay_checkout_orders id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_checkout_orders ALTER COLUMN id SET DEFAULT nextval('public.razorpay_checkout_orders_id_seq'::regclass);


--
-- Name: razorpay_checkouts id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_checkouts ALTER COLUMN id SET DEFAULT nextval('public.razorpay_checkouts_id_seq'::regclass);


--
-- Name: razorpay_webhook_events id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_webhook_events ALTER COLUMN id SET DEFAULT nextval('public.razorpay_webhook_events_id_seq'::regclass);


--
-- Name: relationship_credits id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.relationship_credits ALTER COLUMN id SET DEFAULT nextval('public.relationship_credits_id_seq'::regclass);


--
-- Name: shopdetail id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.shopdetail ALTER COLUMN id SET DEFAULT nextval('public.shopdetail_id_seq'::regclass);


--
-- Name: state id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.state ALTER COLUMN id SET DEFAULT nextval('public.state_id_seq'::regclass);


--
-- Name: territory_assignments id; Type: DEFAULT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.territory_assignments ALTER COLUMN id SET DEFAULT nextval('public.territory_assignments_id_seq'::regclass);


--
-- Name: audit_trail audit_trail_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.audit_trail
    ADD CONSTRAINT audit_trail_pkey PRIMARY KEY (id);


--
-- Name: campaign_deliveries campaign_deliveries_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.campaign_deliveries
    ADD CONSTRAINT campaign_deliveries_pkey PRIMARY KEY (id);


--
-- Name: campaign_notifications campaign_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.campaign_notifications
    ADD CONSTRAINT campaign_notifications_pkey PRIMARY KEY (id);


--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (id);


--
-- Name: city city_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.city
    ADD CONSTRAINT city_pkey PRIMARY KEY (id);


--
-- Name: distributor_products distributor_products_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.distributor_products
    ADD CONSTRAINT distributor_products_pkey PRIMARY KEY (id);


--
-- Name: manage_b2b_purchase_order_detail manage_b2b_purchase_order_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b2b_purchase_order_detail
    ADD CONSTRAINT manage_b2b_purchase_order_detail_pkey PRIMARY KEY (id);


--
-- Name: manage_b2b_purchase_order manage_b2b_purchase_order_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b2b_purchase_order
    ADD CONSTRAINT manage_b2b_purchase_order_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_audit_logs manage_b_to_b_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_audit_logs
    ADD CONSTRAINT manage_b_to_b_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_cart manage_b_to_b_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_cart
    ADD CONSTRAINT manage_b_to_b_cart_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_categories manage_b_to_b_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_categories
    ADD CONSTRAINT manage_b_to_b_categories_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_contact_submissions manage_b_to_b_contact_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_contact_submissions
    ADD CONSTRAINT manage_b_to_b_contact_submissions_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_credit_notes manage_b_to_b_credit_notes_credit_note_number_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_credit_notes
    ADD CONSTRAINT manage_b_to_b_credit_notes_credit_note_number_key UNIQUE (credit_note_number);


--
-- Name: manage_b_to_b_credit_notes manage_b_to_b_credit_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_credit_notes
    ADD CONSTRAINT manage_b_to_b_credit_notes_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_delivery_configs manage_b_to_b_delivery_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_delivery_configs
    ADD CONSTRAINT manage_b_to_b_delivery_configs_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_drivers manage_b_to_b_drivers_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_drivers
    ADD CONSTRAINT manage_b_to_b_drivers_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_invoices manage_b_to_b_invoices_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_invoices
    ADD CONSTRAINT manage_b_to_b_invoices_invoice_number_key UNIQUE (invoice_number);


--
-- Name: manage_b_to_b_invoices manage_b_to_b_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_invoices
    ADD CONSTRAINT manage_b_to_b_invoices_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_ledger_entries manage_b_to_b_ledger_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_ledger_entries
    ADD CONSTRAINT manage_b_to_b_ledger_entries_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_logistics_providers manage_b_to_b_logistics_providers_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_logistics_providers
    ADD CONSTRAINT manage_b_to_b_logistics_providers_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_order_items manage_b_to_b_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_order_items
    ADD CONSTRAINT manage_b_to_b_order_items_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_order_status_history manage_b_to_b_order_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_order_status_history
    ADD CONSTRAINT manage_b_to_b_order_status_history_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_orders manage_b_to_b_orders_order_number_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_orders
    ADD CONSTRAINT manage_b_to_b_orders_order_number_key UNIQUE (order_number);


--
-- Name: manage_b_to_b_orders manage_b_to_b_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_orders
    ADD CONSTRAINT manage_b_to_b_orders_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_payment_allocations manage_b_to_b_payment_allocations_payment_id_invoice_id_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_payment_allocations
    ADD CONSTRAINT manage_b_to_b_payment_allocations_payment_id_invoice_id_key UNIQUE (payment_id, invoice_id);


--
-- Name: manage_b_to_b_payment_allocations manage_b_to_b_payment_allocations_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_payment_allocations
    ADD CONSTRAINT manage_b_to_b_payment_allocations_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_payments manage_b_to_b_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_payments
    ADD CONSTRAINT manage_b_to_b_payments_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_payouts manage_b_to_b_payouts_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_payouts
    ADD CONSTRAINT manage_b_to_b_payouts_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_request_access manage_b_to_b_request_access_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_request_access
    ADD CONSTRAINT manage_b_to_b_request_access_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_settlements manage_b_to_b_settlements_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_settlements
    ADD CONSTRAINT manage_b_to_b_settlements_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_settlements manage_b_to_b_settlements_settlement_number_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_settlements
    ADD CONSTRAINT manage_b_to_b_settlements_settlement_number_key UNIQUE (settlement_number);


--
-- Name: manage_b_to_b_subcategories manage_b_to_b_subcategories_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_subcategories
    ADD CONSTRAINT manage_b_to_b_subcategories_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_support_tickets manage_b_to_b_support_tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_support_tickets
    ADD CONSTRAINT manage_b_to_b_support_tickets_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_user_type manage_b_to_b_user_type_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_user_type
    ADD CONSTRAINT manage_b_to_b_user_type_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_user_type manage_b_to_b_user_type_typename_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_user_type
    ADD CONSTRAINT manage_b_to_b_user_type_typename_key UNIQUE (typename);


--
-- Name: manage_b_to_b_userdetail manage_b_to_b_userdetail_email_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_userdetail
    ADD CONSTRAINT manage_b_to_b_userdetail_email_key UNIQUE (email);


--
-- Name: manage_b_to_b_userdetail manage_b_to_b_userdetail_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_userdetail
    ADD CONSTRAINT manage_b_to_b_userdetail_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_vehicle_routes manage_b_to_b_vehicle_routes_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_vehicle_routes
    ADD CONSTRAINT manage_b_to_b_vehicle_routes_pkey PRIMARY KEY (id);


--
-- Name: manage_b_to_b_vehicles manage_b_to_b_vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_vehicles
    ADD CONSTRAINT manage_b_to_b_vehicles_pkey PRIMARY KEY (id);


--
-- Name: manage_manufacturer_products manage_manufacturer_products_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_manufacturer_products
    ADD CONSTRAINT manage_manufacturer_products_pkey PRIMARY KEY (id);


--
-- Name: razorpay_checkout_orders razorpay_checkout_orders_checkout_id_order_id_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_checkout_orders
    ADD CONSTRAINT razorpay_checkout_orders_checkout_id_order_id_key UNIQUE (checkout_id, order_id);


--
-- Name: razorpay_checkout_orders razorpay_checkout_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_checkout_orders
    ADD CONSTRAINT razorpay_checkout_orders_pkey PRIMARY KEY (id);


--
-- Name: razorpay_checkouts razorpay_checkouts_idempotency_key_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_checkouts
    ADD CONSTRAINT razorpay_checkouts_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: razorpay_checkouts razorpay_checkouts_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_checkouts
    ADD CONSTRAINT razorpay_checkouts_pkey PRIMARY KEY (id);


--
-- Name: razorpay_checkouts razorpay_checkouts_razorpay_order_id_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_checkouts
    ADD CONSTRAINT razorpay_checkouts_razorpay_order_id_key UNIQUE (razorpay_order_id);


--
-- Name: razorpay_webhook_events razorpay_webhook_events_event_id_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_webhook_events
    ADD CONSTRAINT razorpay_webhook_events_event_id_key UNIQUE (event_id);


--
-- Name: razorpay_webhook_events razorpay_webhook_events_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_webhook_events
    ADD CONSTRAINT razorpay_webhook_events_pkey PRIMARY KEY (id);


--
-- Name: relationship_credits relationship_credits_creditor_id_debtor_id_debtor_type_key; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.relationship_credits
    ADD CONSTRAINT relationship_credits_creditor_id_debtor_id_debtor_type_key UNIQUE (creditor_id, debtor_id, debtor_type);


--
-- Name: relationship_credits relationship_credits_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.relationship_credits
    ADD CONSTRAINT relationship_credits_pkey PRIMARY KEY (id);


--
-- Name: shopdetail shopdetail_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.shopdetail
    ADD CONSTRAINT shopdetail_pkey PRIMARY KEY (id);


--
-- Name: state state_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.state
    ADD CONSTRAINT state_pkey PRIMARY KEY (id);


--
-- Name: territory_assignments territory_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.territory_assignments
    ADD CONSTRAINT territory_assignments_pkey PRIMARY KEY (id);


--
-- Name: distributor_products unique_distributor_product; Type: CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.distributor_products
    ADD CONSTRAINT unique_distributor_product UNIQUE (distributor_id, product_id);


--
-- Name: idx_rzp_co_created_at; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_co_created_at ON public.razorpay_checkouts USING btree (created_at);


--
-- Name: idx_rzp_co_distributor_id; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_co_distributor_id ON public.razorpay_checkouts USING btree (distributor_id);


--
-- Name: idx_rzp_co_orders_checkout; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_co_orders_checkout ON public.razorpay_checkout_orders USING btree (checkout_id);


--
-- Name: idx_rzp_co_orders_order; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_co_orders_order ON public.razorpay_checkout_orders USING btree (order_id);


--
-- Name: idx_rzp_co_razorpay_order_id; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_co_razorpay_order_id ON public.razorpay_checkouts USING btree (razorpay_order_id);


--
-- Name: idx_rzp_co_razorpay_payment_id; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_co_razorpay_payment_id ON public.razorpay_checkouts USING btree (razorpay_payment_id);


--
-- Name: idx_rzp_co_stale; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_co_stale ON public.razorpay_checkouts USING btree (status, created_at) WHERE ((status)::text = ANY ((ARRAY['INITIATED'::character varying, 'CREATED'::character varying, 'PENDING'::character varying])::text[]));


--
-- Name: idx_rzp_co_status; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_co_status ON public.razorpay_checkouts USING btree (status);


--
-- Name: idx_rzp_wh_event_id; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_wh_event_id ON public.razorpay_webhook_events USING btree (event_id);


--
-- Name: idx_rzp_wh_processing_status; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_wh_processing_status ON public.razorpay_webhook_events USING btree (processing_status);


--
-- Name: idx_rzp_wh_razorpay_order_id; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_wh_razorpay_order_id ON public.razorpay_webhook_events USING btree (razorpay_order_id);


--
-- Name: idx_rzp_wh_razorpay_payment_id; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_wh_razorpay_payment_id ON public.razorpay_webhook_events USING btree (razorpay_payment_id);


--
-- Name: idx_rzp_wh_received_at; Type: INDEX; Schema: public; Owner: adab_user
--

CREATE INDEX idx_rzp_wh_received_at ON public.razorpay_webhook_events USING btree (received_at);


--
-- Name: city city_state_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.city
    ADD CONSTRAINT city_state_id_fkey FOREIGN KEY (state_id) REFERENCES public.state(id);


--
-- Name: manage_b_to_b_userdetail fk_userdetail_campaign; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_userdetail
    ADD CONSTRAINT fk_userdetail_campaign FOREIGN KEY (campaign_id) REFERENCES public.campaigns(id) ON DELETE SET NULL;


--
-- Name: manage_b2b_purchase_order_detail manage_b2b_purchase_order_detail_fk_purchase_order_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b2b_purchase_order_detail
    ADD CONSTRAINT manage_b2b_purchase_order_detail_fk_purchase_order_fkey FOREIGN KEY (fk_purchase_order) REFERENCES public.manage_b2b_purchase_order(id) ON DELETE CASCADE;


--
-- Name: manage_b_to_b_cart manage_b_to_b_cart_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_cart
    ADD CONSTRAINT manage_b_to_b_cart_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.manage_manufacturer_products(id) ON DELETE CASCADE;


--
-- Name: manage_b_to_b_credit_notes manage_b_to_b_credit_notes_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_credit_notes
    ADD CONSTRAINT manage_b_to_b_credit_notes_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.manage_b_to_b_invoices(id);


--
-- Name: manage_b_to_b_drivers manage_b_to_b_drivers_logistics_provider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_drivers
    ADD CONSTRAINT manage_b_to_b_drivers_logistics_provider_id_fkey FOREIGN KEY (logistics_provider_id) REFERENCES public.manage_b_to_b_logistics_providers(id);


--
-- Name: manage_b_to_b_invoices manage_b_to_b_invoices_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_invoices
    ADD CONSTRAINT manage_b_to_b_invoices_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.manage_b_to_b_orders(id);


--
-- Name: manage_b_to_b_order_items manage_b_to_b_order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_order_items
    ADD CONSTRAINT manage_b_to_b_order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.manage_b_to_b_orders(id) ON DELETE CASCADE;


--
-- Name: manage_b_to_b_order_items manage_b_to_b_order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_order_items
    ADD CONSTRAINT manage_b_to_b_order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.manage_manufacturer_products(id);


--
-- Name: manage_b_to_b_order_status_history manage_b_to_b_order_status_history_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_order_status_history
    ADD CONSTRAINT manage_b_to_b_order_status_history_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.manage_b_to_b_orders(id) ON DELETE CASCADE;


--
-- Name: manage_b_to_b_payment_allocations manage_b_to_b_payment_allocations_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_payment_allocations
    ADD CONSTRAINT manage_b_to_b_payment_allocations_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.manage_b_to_b_invoices(id);


--
-- Name: manage_b_to_b_payment_allocations manage_b_to_b_payment_allocations_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_payment_allocations
    ADD CONSTRAINT manage_b_to_b_payment_allocations_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.manage_b_to_b_payments(id);


--
-- Name: manage_b_to_b_payments manage_b_to_b_payments_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_payments
    ADD CONSTRAINT manage_b_to_b_payments_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.manage_b_to_b_invoices(id);


--
-- Name: manage_b_to_b_payouts manage_b_to_b_payouts_settlement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_payouts
    ADD CONSTRAINT manage_b_to_b_payouts_settlement_id_fkey FOREIGN KEY (settlement_id) REFERENCES public.manage_b_to_b_settlements(id);


--
-- Name: manage_b_to_b_subcategories manage_b_to_b_subcategories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_subcategories
    ADD CONSTRAINT manage_b_to_b_subcategories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.manage_b_to_b_categories(id) ON DELETE CASCADE;


--
-- Name: manage_b_to_b_userdetail manage_b_to_b_userdetail_business_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_userdetail
    ADD CONSTRAINT manage_b_to_b_userdetail_business_type_id_fkey FOREIGN KEY (business_type_id) REFERENCES public.manage_b_to_b_user_type(id);


--
-- Name: manage_b_to_b_vehicle_routes manage_b_to_b_vehicle_routes_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_vehicle_routes
    ADD CONSTRAINT manage_b_to_b_vehicle_routes_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.manage_b_to_b_drivers(id);


--
-- Name: manage_b_to_b_vehicle_routes manage_b_to_b_vehicle_routes_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_vehicle_routes
    ADD CONSTRAINT manage_b_to_b_vehicle_routes_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.manage_b_to_b_orders(id);


--
-- Name: manage_b_to_b_vehicle_routes manage_b_to_b_vehicle_routes_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_vehicle_routes
    ADD CONSTRAINT manage_b_to_b_vehicle_routes_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.manage_b_to_b_vehicles(id);


--
-- Name: manage_b_to_b_vehicles manage_b_to_b_vehicles_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_vehicles
    ADD CONSTRAINT manage_b_to_b_vehicles_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.manage_b_to_b_drivers(id);


--
-- Name: manage_b_to_b_vehicles manage_b_to_b_vehicles_logistics_provider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.manage_b_to_b_vehicles
    ADD CONSTRAINT manage_b_to_b_vehicles_logistics_provider_id_fkey FOREIGN KEY (logistics_provider_id) REFERENCES public.manage_b_to_b_logistics_providers(id);


--
-- Name: razorpay_checkout_orders razorpay_checkout_orders_checkout_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_checkout_orders
    ADD CONSTRAINT razorpay_checkout_orders_checkout_id_fkey FOREIGN KEY (checkout_id) REFERENCES public.razorpay_checkouts(id);


--
-- Name: razorpay_checkout_orders razorpay_checkout_orders_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: adab_user
--

ALTER TABLE ONLY public.razorpay_checkout_orders
    ADD CONSTRAINT razorpay_checkout_orders_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.manage_b_to_b_orders(id);


--
-- PostgreSQL database dump complete
--

\unrestrict eKocGQNp6A6ustQKnxegMdGGXVtDtZTBJnLmRkWmV4SoihCAbjdgm9pbvrcqs5Y

